.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding-top: 8rem;

  & > input {
    font-size: 1.4rem;
    color: $color-dark;
    padding: 1.2rem;
    margin-bottom: 1rem;

    background-color: rgba($color-light, 0.8);
    border: none;
  }

  & > textarea {
    height: 250px;
    background-color: rgba($color-light, 0.8);
    border: none;
    padding: 1rem;
    color: $color-dark;

    &::placeholder {
      font-size: 1.4rem;
    }
  }
}

#success {
  font-size: 1.4rem;
  font-weight: 500;
}
