.heading {
  &--primary {
    font-size: 5rem;
    font-weight: 700;
    color: $color-light;
  }

  &--sub {
    font-size: 3rem;
    font-weight: 400;
    color: $color-light;
    margin-bottom: 3rem;
  }

  &--secondary {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-dark;
  }

  &--tertiary {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.text {
  font-size: 1.4rem;
  font-weight: 400;
  color: $color-dark;
}
